:root {
  --sw-site-color-ink: #08090a;
  --sw-site-color-paper: #fbfbfb;
  --sw-site-color-accent: #007aff;
  --sw-site-color-accent-deep: #005dcc;
  --sw-site-color-accent-fog: #f6faff;
  --sw-site-color-accent-mist: #eaf3ff;
  --sw-ui-system-max-width: 1080px;
  --sw-ui-nav-logo-height: 16px;
  --sw-ui-color-bg-selection: 0 122 255;
  --sw-ui-color-text-selection: 255 255 255;
  --sw-ui-color-button-translucent: 249 248 249;
  --sw-ui-color-bg-header: 255 255 255;
  --sw-ui-color-bg-header-active: 246 246 246;
  --sw-ui-color-border-header: 8 9 10 / 0.08;
  --sw-ui-color-bg-primary: 255 255 255;
  --sw-ui-color-bg-secondary: 249 248 249;
  --sw-ui-color-bg-tertiary: 244 243 244;
  --sw-ui-color-bg-quaternary: 238 237 239;
  --sw-ui-color-bg-quinary: 233 232 234;
  --sw-ui-color-primary-inverted: 8 9 10;
  --sw-ui-color-secondary-inverted: 18 22 28;
  --sw-ui-color-border-primary: 233 232 234;
  --sw-ui-color-border-secondary: 228 227 228;
  --sw-ui-color-border-tertiary: 220 219 221;
  --sw-ui-color-toggle: 189 192 197;
  --sw-ui-color-text-primary: 40 42 48;
  --sw-ui-color-text-secondary: 84 90 99;
  --sw-ui-color-text-tertiary: 134 132 141;
  --sw-ui-color-text-quaternary: 89 90 92;
  --sw-ui-color-overlay-primary: 255 255 255 / 0.6;
  --sw-ui-color-link-primary: 0 122 255;
  --sw-ui-color-link-hover: 66 81 222;
  --sw-ui-color-bg-brand: 100 103 197;
  --sw-ui-color-brand-text: 255 255 255;
  --sw-ui-color-feedback-accent: 0 122 255;
  --sw-ui-color-feedback-success: 98 199 85;
  --sw-ui-color-feedback-warning: 244 191 80;
  --sw-ui-color-feedback-danger: 236 106 94;
}

html {
  background: rgb(var(--sw-ui-color-bg-primary) / 1);
}

body {
  background: rgb(var(--sw-ui-color-bg-primary) / 1);
}

.dark {
  --sw-ui-color-button-translucent: 255 255 255 / 0.06;
  --sw-ui-color-bg-header: 9 9 9;
  --sw-ui-color-bg-header-active: 13 13 13;
  --sw-ui-color-border-header: 242 242 242 / 0.08;
  --sw-ui-color-bg-primary: 8 9 10;
  --sw-ui-color-bg-secondary: 16 17 19;
  --sw-ui-color-bg-tertiary: 28 28 31;
  --sw-ui-color-bg-quaternary: 35 35 38;
  --sw-ui-color-bg-quinary: 40 40 44;
  --sw-ui-color-primary-inverted: 247 248 250;
  --sw-ui-color-secondary-inverted: 236 241 245;
  --sw-ui-color-border-primary: 35 37 42;
  --sw-ui-color-border-secondary: 52 52 58;
  --sw-ui-color-border-tertiary: 62 62 68;
  --sw-ui-color-toggle: 92 102 109;
  --sw-ui-color-text-primary: 247 248 250;
  --sw-ui-color-text-secondary: 208 214 216;
  --sw-ui-color-text-tertiary: 138 143 152;
  --sw-ui-color-text-quaternary: 89 90 92;
  --sw-ui-color-overlay-primary: 0 0 0 / 0.6;
  --sw-ui-color-link-primary: 0 122 255;
  --sw-ui-color-link-hover: 66 81 222;
  --sw-ui-color-bg-brand: 100 103 197;
  --sw-ui-color-brand-text: 255 255 255;
  --sw-ui-color-feedback-accent: 94 164 255;
  --sw-ui-color-feedback-success: 116 214 125;
  --sw-ui-color-feedback-warning: 255 199 92;
  --sw-ui-color-feedback-danger: 255 126 116;
}
