.spinner-root-19eyax {
  --spinner-size: 24px;
  display: inline-flex;
  position: relative;
  width: var(--spinner-size);
  height: var(--spinner-size);
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

.spinner-icon-qgt7pw {
  width: 100%;
  height: 100%;
  animation: sw-spinner-rotate 720ms linear infinite;
  fill: none;
  transform-origin: center;
}

.spinner-small-c2t9ko {
  --spinner-size: 16px;
}

.spinner-medium-3z6qhn {
  --spinner-size: 24px;
}

.spinner-large-dl73u5 {
  --spinner-size: 32px;
}

.spinner-xlarge-mhuugu {
  --spinner-size: 44px;
}

.spinner-current-8scmdu {
  color: currentColor;
}

.spinner-accent-zvu555 {
  color: rgb(var(--color-feedback-accent) / 1);
}

.spinner-success-qdeuli {
  color: rgb(var(--color-feedback-success) / 1);
}

.spinner-warning-v18gah {
  color: rgb(var(--color-feedback-warning) / 1);
}

.spinner-danger-gbnwo3 {
  color: rgb(var(--color-feedback-danger) / 1);
}

.spinner-track-ic069b {
  stroke: currentColor;
  stroke-width: 2;
  opacity: 0.2;
}

.spinner-arc-hah2od {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 2;
}

.spinner-label-l5zn1u {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}

@keyframes sw-spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .spinner-icon-qgt7pw {
    animation: none;
  }
}

@media (forced-colors: active) {
  .spinner-track-ic069b {
    stroke: GrayText;
  }

  .spinner-arc-hah2od {
    stroke: CanvasText;
  }
}
